.action {
    &::before, &::after {
        color: var(--a-magenta);
    }
    &::before {
        content: ">> ";
    }
    &::after {
        content: " <<";
    }

    color: var(--a-brightMagenta);
    cursor: pointer;
    font-weight: bold;

    &:focus {
        text-decoration: underline;     
    }

}