.export {
    margin: 1.5rem 0;
    padding: 1rem 1ch;
    border: solid 1px var(--t-fg);
}

.export_prompt {
    
    label {
        background: transparent;
        color: var(--t-fg);
        border: 0;
        caret-color: var(--a-brightGreen);
        height: 1rem;
        padding: 0;
        min-width: 20ch;

        &:focus-within::after {
            content: '_';
            animation: blink 1.5s steps(2, jump-none) infinite;
            color: var(--a-brightGreen);
            font-weight: bold;
            text-decoration: underline;
            text-shadow: 0 1px 0 currentColor, 0 -1px 0 currentColor;
          }
    }
}

@keyframes blink {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }