@mixin effect($code) {
    @if $code == '01' {
        font-weight: bold;
    }
    @if $code == '04' {
        text-decoration: underline;
    }
}

@function toBright($index) {
    $brighterIndex: $index + 8;
    $newVal: nth($foregrounds, $brighterIndex);
    @return $newVal;
  }
  
@each $key, $value in $foregrounds {
    $i: index($foregrounds, $key $value);
    .inode[data-fg="#{$key}"] {
        color: $value;
    }

    .color[data-applied="#{$key}"] {
        background-color: $value;
    }

    .style-tile[data-output="#{$key}"] {
        background-color: $value;
    }

    // If the foreground color is one of the dark colors and the bold effect is on,
    // it will turn to the bright version of that color.
    @if $i > 1 and $i < 11 {
        .inode[data-eff="01"][data-fg="#{$key}"] {
            color: map-get($foregrounds, ($key + 60));
        }
        
        .bright .style-tile[data-output="#{$key}"] {
            background-color: map-get($foregrounds, ($key + 60));
        }
    }
}

@each $key, $value in $backgrounds {
    .inode[data-bg="#{$key}"] {
        background-color: $value;
    }

    .color[data-applied="#{$key}"] {
        background-color: $value;
    }

    .style-tile[data-output="#{$key}"] {
        background-color: $value;
    }
}

@mixin background($sides) {
    $horizontal-stops: 42.5%, 57.5%;
    $vertical-stops: 65%, 75%;
    $vertical-divider-image: linear-gradient(to bottom, transparent 0%, transparent 66.6%, var(--t-bg) 66.6%, var(--t-bg) 100%), linear-gradient(to right, var(--t-bg) 0%, var(--t-bg) nth($horizontal-stops, 1), var(--a-brightMagenta) nth($horizontal-stops, 1), var(--a-brightMagenta) nth($horizontal-stops, 2), var(--t-bg) nth($horizontal-stops, 2), var(--t-bg) 100%);
    $vertical-divider-right-position: 100% 0, 100% 0;
    $vertical-divider-left-position: 0 0, 0 0;
    $vertical-divider-size: 1ch 1.5rem, 1ch 1.5rem;
    $vertical-divider-repeat: repeat-y, repeat-y;
    @if $sides == 2 {
        background-image: $vertical-divider-image;
        background-position: $vertical-divider-right-position;
        background-size: $vertical-divider-size;
        background-repeat: $vertical-divider-repeat;
    }
    @if $sides == 4 {
        background-image: $vertical-divider-image;
        background-position: $vertical-divider-left-position;
        background-size: $vertical-divider-size;
        background-repeat: $vertical-divider-repeat;
    }
    @if $sides == 24 {
        background-image: $vertical-divider-image, $vertical-divider-image;
        background-position: $vertical-divider-left-position, $vertical-divider-right-position;
        background-size: $vertical-divider-size, $vertical-divider-size;
        background-repeat: $vertical-divider-repeat, $vertical-divider-repeat;
    }
}