.nav {
    max-width: max-content;
}

.nav a {
    white-space: nowrap;
    color: var(--a-brightYellow);
    font-weight: bold;
    margin-left: 3ch;
    position: relative;
    display: block;
    padding-right: 3ch;
    user-select: none;
}

.nav a.active {
    font-weight: bold;
    color: var(--a-brightYellow);
}

.nav a:focus {
    text-decoration: underline;
    outline: 0;
}

.nav a.active::before {
    content: ">>";
    position: absolute;
    right: calc(100% + 1ch);
}

.nav--main {
    // @include background(2);
}