.panel {
    padding-left: 3ch;
    @include background(4);
}

.panel--scheme {
    width: 32ch;
    user-select: none;
}

.panel--bash {
    margin-bottom: 1.5rem;
}

@media (min-width: 180ch) {
    .panel--export {
        display: contents;
    }

    .panel--bash {
        padding-right: 3ch;
        padding-left: 3ch;
        @include background(24);
        margin-bottom: 0;
        flex-basis: calc(50% - 20ch);
        max-width: max-content;
    }

    .panel--terminal {
        padding-left: 3ch;
        flex-basis: calc(50% + 20ch);
        max-width: max-content;
    }
}

@media (min-width: 200ch) {

  .panel--terminal {
    // padding-left: 3ch;
    display: grid;
    grid-template-areas: "nav header" "nav content";
    grid-template-rows: min-content 1fr;
    padding-left: 0;
    
    nav {
      padding-left: 3ch;
      order: -1;
      grid-area: nav;
      height: min-content;
      grid-row: span 2;
    }

    h2 {
      grid-area: header;
      padding-left: 3ch;
      @include background(4);
    }

    section {
      grid-area: content;
      padding-left: 3ch;
      @include background(4);
    }
    
  }
}