.schemeSetColor {
    display: flex;
    color: var(--t-fg);
    position: relative;
    width: 25ch;

    &:focus {
        outline: 0;
    }
    
    &:focus::before {
        content: '$';
        position: absolute;
        right: calc(100% + 1ch);
    }
}

.schemeSetColor_name {
    white-space: nowrap;
}

.schemeSetColor_preview {
    height: 1rem;
    width: 2ch;
    margin-right: 1ch;
    box-sizing: content-box;
    border: solid 1px var(--t-bg);
    outline: solid 1px var(--t-fg);
}