  .tabs-component-tabs {
    margin-bottom: 0;
    padding-left: 3px;
    margin-block-start: 0;
    background-color: var(--t-bg);
  }
  
  @media (min-width: 700px) {
    .tabs-component-tabs {
      border: 0;
      align-items: stretch;
      display: flex;
      justify-content: flex-start;
    }
  }
  
  .tabs-component-tab {
    border-right: solid 3px var(--t-bg);
    border-left: solid 3px var(--t-bg);
    border-bottom: solid 3px var(--t-bg);
    background-color: var(--t-bg);
    color: var(--t-fg);
    opacity: .75;
    font-size: 14px;
    font-weight: 600;
    margin-right: 0;
    list-style: none;
    box-shadow: inset 0 3px 0 var(--t-bg);
    transition: box-shadow .2s ease-in;
    
    &:first-child {
      border-left: 0;
    }
  }
  
  .tabs-component-tab:not(.is-active):hover,
  .tabs-component-tab:not(.is-active):focus-within {
    opacity: 1;
    box-shadow: inset 0 3px 0 var(--t-fg);
  }
  
  .tabs-component-tab.is-active {
    background-color: var(--t-fg);
    color: var(--t-bg);
    border-bottom: 0;
    opacity: 1;
    box-shadow: inset 0 0 0 var(--t-fg);
    cursor: default;

    .tabs-component-tab-a {
      opacity: 1;
    }
  }
  
  .tabs-component-tab.is-disabled * {
    color: #cdcdcd;
    cursor: not-allowed !important;
  }
  
  @media (min-width: 700px) {
    .tabs-component-tab {
      margin-right: .5em;
    }
  
    .tabs-component-tab.is-active {
    }
  }
  
  .tabs-component-tab-a {
    align-items: center;
    color: inherit;
    display: flex;
    padding: .75em 1em;
    text-decoration: none;
    
    &:focus {
      outline: 0;
    }
  }
  
  .tabs-component-panels {
    padding: 1em 0;
  }
  
  @media (min-width: 700px) {
    .tabs-component-panels {
      background-color: #fff;
      padding: 1em 1em 1em 0;
    }
  }
  