:root {
    --a-black: #000000;
    --a-red: #800000;
    --a-green: #008000;
    --a-yellow: #808000;
    --a-blue: #000080;
    --a-magenta: #800080;
    --a-cyan: #008080;
    --a-white: #c0c0c0;
    --a-brightBlack: #808080;
    --a-brightRed: #ff0000;
    --a-brightGreen: #00ff00;
    --a-brightYellow: #ffff00;
    --a-brightBlue: #0000ff;
    --a-brightMagenta: #ff00ff;
    --a-brightCyan: #00ffff;
    --a-brightWhite: #ffffff;
    --t-bg: #151f25;
    --t-fg: #ffffff;

    --p-link: hsl(212, 66%, 49%);
}


$t-no-fg: var(--t-fg);
$t-no-bg: var(--t-bg);
$t-fg: var(--t-fg);
$t-bg: var(--t-bg);
$black: var(--a-black);
$red: var(--a-red);
$green: var(--a-green);
$yellow: var(--a-yellow);
$blue: var(--a-blue);
$magenta: var(--a-magenta);
$cyan: var(--a-cyan);
$white: var(--a-white);
$bBlack: var(--a-brightBlack);
$bRed: var(--a-brightRed);
$bGreen: var(--a-brightGreen);
$bYellow: var(--a-brightYellow);
$bBlue: var(--a-brightBlue);
$bMagenta: var(--a-brightMagenta);
$bCyan: var(--a-brightCyan);
$bWhite: var(--a-brightWhite);

$clear: linear-gradient(45deg, white 0%, white 45%, red 45%, red 55%, white 55%, white 100%);

$foregrounds: ('00': $t-no-fg, 0: $t-fg, 30: $black, 31: $red, 32: $green, 33: $yellow, 34: $blue, 35: $magenta, 36: $cyan, 37: $white, 90: $bBlack, 91: $bRed, 92: $bGreen, 93: $bYellow, 94: $bBlue, 95: $bMagenta, 96: $bCyan, 97: $bWhite);
$backgrounds: ('00': $t-no-bg, 0: transparent, 40: transparent, 41: $red, 42: $green, 43: $yellow, 44: $blue, 45: $magenta, 46: $cyan, 47: $white, 100: $bBlack, 101: $bRed, 102: $bGreen, 103: $bYellow, 104: $bBlue, 105: $bMagenta, 106: $bCyan, 107: $bWhite);

@import 'mixins';